@charset "utf-8"; 

@import "_macro";

/* = Reset
------------------------------------------------------------------------------------ */
body,div,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,iframe,input,textarea,select,label,article,aside,footer,header,menu,nav,section,time,audio,video{ margin:0; padding:0;}
html, body{ height:100%; -webkit-touch-callout:none; -webkit-user-select:none;}
body{ background-color: $baseBgColor; font:18px/2 $baseFontFamily; color: $baseFontColor;}
h1, h2, h3, h4, h5, h6 { font-weight: normal}
ul,ol{ list-style:none;}
input,button,textarea{ font-size:inherit; font-family:inherit; outline:none;}
img{border:0; vertical-align:top;}
section{ display:block;}
div,a,img,button,form,input,select,textarea { -webkit-tap-highlight-color:rgba(0,0,0,0);}
input[type="button"],input[type="submit"],input[type="reset"]{ -webkit-appearance:none;}
audio:not([controls]) { display:none; height:0;}

/* = Content
------------------------------------------------------------------------------------ */
.section{
	position: absolute; top: 40%; width: 100%; text-align: center;
}
.section a{
	color: #fff;
}
.time{
	position: fixed; bottom:2%; right:2%;
}